# Ce fichier est un modèle. 
# Renommez-le en ".env" et remplacez les valeurs si nécessaire.

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=cryptosentinel

# Si vous utilisez le tunnel SSH, laissez localhost
# Si le port est ouvert publiquement sur la VM Google Cloud, mettez l'IP : 34.76.165.120
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DB_HOST=localhost
DB_PORT=5433

# API Keys (Remplacez par vos propres clés)
COINGECKO_API_KEY="CG-******************"
CRYPTOPANIC_API_KEY="f8*********************************"
